{% extends 'index.html' %}

{% block content %}
    <div class="container">
    <form action="" method=POST>
        {% csrf_token %}
    <div class="container text-center">
            <div class="row" style="padding-top: 10px; margin-top: 3%; text-align: left; border-bottom: 1px solid black; ">
                <div class="col">
                    <h1>Log in</h1>
                </div>
            </div>
    </div>
<div class="container" style="padding: 2%">
  <div class="mb-3">
    <label for="InputUsername" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="InputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
  </div>
    </form>
{% endblock %}