{% extends 'index.html' %}
{% block content %}

<div class="container text-center">
    <div class="row" style="padding-top: 10px; margin-top: 3%; text-align: left; border-bottom: 1px solid black; ">
        <h2>Edit Game</h2>
    </div>
</div>

<div class="container" style="margin-top: 20px;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary" style="margin-top: 20px">Edit Game</button>
        <button type="submit" name="action" value="delete" class="btn btn-primary" style="margin-top: 20px; margin-left: 1050px; border-color: darkred; background-color: darkred">Delete Game</button>
    </form>
</div>
{% endblock %}