{% extends 'index.html' %}
{% load static %}
{% block additional_styles %}
<style>
    .game-card {
    margin: 50px;
    }
    .game-card:hover{
    transform: scale(1.1);
    }
</style>
{% endblock %}
{% block content %}
<a href="{% url 'games:game_create' %}" class="btn btn-primary">Create Game</a>

<div class="container">
    <div class="row">
        {% for game in games %}
        <div class="col-md-2 game-card" id="game-{{ game.pk }}">
            <a href="{% url 'games:game_detail' game.pk %}" style="color: inherit; text-decoration: none;">
                <div class="card" style="width: 18rem;">
                    {% if game.cover %}
                    <img src="{{ game.cover.url }}" class="card-img-top" alt="{{ game.title }}">
                    {% else %}
                    <img src="{% static 'game1.jpg' %}" class="card-img-top" alt="{{ game.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ game.title }}</h5>
                        <p class="card-text">{{ game.description }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
        {% endif %}
        {% empty %}
        <p>No games available.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}