<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
<style>
    .logo {
    width: 75px;
    height: 75px;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" style="font-size: 20px">
  <div class="container-fluid">
    {% load static %}
    <img src="{% static 'pandalogo.png' %}" alt="My image" class="logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %}active{% endif %}" id="home" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == '/games/game_list' %}active{% endif %}" href="{% url 'games:game_list' %}">Games</a>
        </li>
      </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                  {{ user.username }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'members:profile' %}">Profile</a></li>
                  <li><a class="dropdown-item" href="{% url 'members:logout' %}">Log out</a></li>
                </ul>
            </li>
        {% else %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/members/login_user' %}active{% endif %}"
                 href="{% url 'members:login' %}">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/members/signup_user' %}active{% endif %}"
                 href="{% url 'members:signup' %}">Sign Up</a>
            </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}warning{% else %}{{ message.tags }}{% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

<div class="container">
    {% block content %}
         <p class="text-center fs-1">Welcome to PandaLibrary</p>
    <h2 class="text-center mt-4">Most Popular</h2>
    <div id="gameCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-3">
              <img src="{% static 'game1.jpg' %}" class="img-fluid" alt="Game 1">
            </div>
            <div class="col-3">
              <img src="{% static 'game2.jpg' %}" class="img-fluid" alt="Game 2">
            </div>
            <div class="col-3">
              <img src="{% static 'game3.jpg' %}" class="img-fluid" alt="Game 3">
            </div>
            <div class="col-3">
              <img src="{% static 'game3.jpg' %}" class="img-fluid" alt="Game 4">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-3">
              <img src="{% static 'game3.jpg' %}" class="img-fluid" alt="Game 5">
            </div>
            <div class="col-3">
              <img src="{% static 'game4.jpg' %}" class="img-fluid" alt="Game 6">
            </div>
            <div class="col-3">
              <img src="{% static 'game5.jpg' %}" class="img-fluid" alt="Game 7">
            </div>
            <div class="col-3">
              <img src="{% static 'game6.jpg' %}" class="img-fluid" alt="Game 8">
            </div>
          </div>
        </div>
        <!-- Daha fazla oyun resmi ekleyebilirsiniz -->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#gameCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#gameCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <h2 class="text-center mt-4">Recommended</h2>
    <div id="gameCarousel2" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-3">
              <img src="{% static 'game1.jpg' %}" class="img-fluid" alt="Game 1">
            </div>
            <div class="col-3">
              <img src="{% static 'game2.jpg' %}" class="img-fluid" alt="Game 2">
            </div>
            <div class="col-3">
              <img src="{% static 'game3.jpg' %}" class="img-fluid" alt="Game 3">
            </div>
            <div class="col-3">
              <img src="{% static 'game3.jpg' %}" class="img-fluid" alt="Game 4">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-3">
              <img src="{% static 'game6.jpg' %}" class="img-fluid" alt="Game 1">
            </div>
            <div class="col-3">
              <img src="{% static 'game6.jpg' %}" class="img-fluid" alt="Game 2">
            </div>
            <div class="col-3">
              <img src="{% static 'game6.jpg' %}" class="img-fluid" alt="Game 3">
            </div>
            <div class="col-3">
              <img src="{% static 'game6.jpg' %}" class="img-fluid" alt="Game 4">
            </div>
          </div>
        </div>
        <!-- Daha fazla oyun resmi ekleyebilirsiniz -->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#gameCarousel2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#gameCarousel2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    {% endblock %}

    {% block additional_styles %}{% endblock %}
    {% block additional_scripts %}{% endblock %}

</div>
</body>
</html>